body {
	background: #2C2C34; /* For browsers that do not support gradients */
	font-family: 'Raleway', sans-serif;
}

.site-default {
	text-align: center;
}
h1#site-header {
	color: #E1AB35;
	font-size: 64px;
	font-weight: 600;
	margin-top: 0.50em;
	margin-bottom: 0.2em;
}

h2#intro {
	font-size: 32px;
	color: #E1AB35;
	opacity: 0.5;
	margin-top: 50px;
}
h3#intro-2 {
	color: #E1AB35;
	opacity: 0.5;
	margin-top: 50px;
}

.button-wrapper {
	margin-top: 50px;

#i1 {
	background-color: inherit;
	border-radius: 40px;
	padding: 8px 32px;
	border: 1px solid #E1AB35; 
}
#b2 {
	margin-top: 20px;
	background-color: #E1AB35;
	color: #292B37;
	font-size: 24px;
	border-radius: 40px;
	padding: 2px 48px;
	border: 1px solid #292B37; 
}

}

.notice {
	text-align: center;
	margin-bottom: 50px;
	color: #E1AB35;
	img {
		height: 30px;
		margin-top: 10px;
		vertical-align: text-bottom;
	}
	p {
		text-align: top;
		vertical-align: text-top;
		opacity: 0.5;
	}
}

.notice * {
	display: inline-block;
}

	input:focus,
	select:focus,
	textarea:focus,
	button:focus {
    	outline: none;
}


/* Portrait */
@media only screen 
  and (min-device-width: 310px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

  	h1#site-header {
		font-size: 32px;
		font-weight: 500;
		margin-top: 0.50em;
		margin-bottom: 0.2em;
	}

	img#landing-img {
		width: 100%;
	}

	h2#intro {
		font-size: 20px;
	}

	h3#intro-2  {
		font-size: 14px;
		font-weight: 200;
	}

	.button-wrapper #i1 {
		border-radius: 40px;
		padding: 8px 20px;
		-webkit-appearance: none;
	}

	.button-wrapper #b2 {
		font-size: 18px;
		padding: 4px 48px;
		-webkit-appearance: none;
	}

	.notice img{
		height: 20px;
	}

}

/* Portrait */
@media only screen 
  and (min-device-width: 310px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 

  	img#landing-img {
		width: 100%;
	}
}


/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  	img#landing-img {
		width: 100%;
	}
}
